<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ProgramFakturMUA.Properties.Settings.ConnectionString" connectionString="server=localhost;user id=muahebat;password=qwe-123-123;persistsecurityinfo=True;database=faktur_mua;sslmode=None;" providerName="MySql.Data.MySqlClient"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>
</configuration>
